<div style="padding: 20px;">
	<h2 style>Welcome to Atreya</h2>
	<nav>
    <a routerLink="addleavereport" 
    class="btn btn-primary active" 
    role="button" routerLinkActive="active">Apply For Leave</a>
    <a routerLink="editpatient" class="btn btn-primary active" 
    role="button" routerLinkActive="active">See Appointments</a>
    <a routerLink="writereport" class="btn btn-primary active" 
    role="button" routerLinkActive="active">Write Report</a>
	</nav>
	<router-outlet></router-outlet>
</div>